@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .screen-v-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .v-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ant-layout-header {
  background: none;
}